img
  height 75px

ul
  list-style none

li
  padding 0 10px

button
  border none
    background white

.dropdown img
  border-radius 50%
  height 20px
  width 20px
  margin-right 5px

a
  cursor pointer
  position relative
span:after
  content ''
  position absolute
  bottom -4px
  right 0
  width 0px
  height 2px
  background-color #331133
  transition 0.3s
span:hover:after
  width 100%
  left 0

.dropdownLog
  margin-top 28px

.dropdownListGroups
  margin-top 20px

.show img
  border-radius 50%
  height 20px
  width 20px
  margin-right 5px

.dropdown-menu:after
  display none

.dropdown-menu.show
  margin-top 3.6vh

.btn-following
  border none
  background none
  color black
