.edit-form
  margin auto

.header-detail
  align-items center

.header-icon
  width 7rem

.fa
  margin 0 auto

.icon-action
  font-size 25px
  cursor pointer 

.title-detail
  height 8rem
  background blue
  align-items center

#title
  color white
  border none
  background none
  font-size 30px
  text-align center
  font-weight bold
  &:focus
    box-shadow none

.detail
  color black
  border none
  background none
  width 25rem
  margin 0px
  padding 14px 0 8px 0
  &:focus 
    box-shadow none

.icon
  font-size 20px
  margin-top 2vh

#description
  overflow-wrap break-word

  .banner
  background-image url('../../../../assets/img/cover1.jpg')
  background-position center
  background-size cover
  height 200px
  h4
    line-height 200px
    color #fff
.atten-body
  .row.atten
    margin-bottom 20px 
  img 
    width 100%
    height 88%
  h4
    margin-bottom 20px  
  h5
    margin-bottom 0
    color #6191CA
  span
    font-size 14px
  #note
    position relative
    top 35px
    input.text-center 
      width 100%  

i.fa.fa-times 
  margin-right: 20px;

.row.pr-2 
  width: 100
