ul
  list-style none

li
  padding: 0 10px

.banner
  background-image linear-gradient(45deg, rgba(75, 117, 160, 0.6) 55%, rgba(45,95,93,0.7)), url('../../../../assets/img/banner.jpg')
  height 400px
  background-size cover
  background-position center
  background-attachment fixed
  color white
  position relative
  h1
    position absolute
    top 50%
    left 10%
    text-transform uppercase

.calendar
  cursor pointer

.breadcrumb
  background-color white
