.banner 
  background-image url('../../../../../assets/img/cover1.jpg')
  background-position center 
  background-size cover
  height 250px
  .row
    bottom 15%
    left 11%
    
.avatar img 
    width 178px
    border 5px solid white
    height 161px

h1,a
  color white

.infor.position-absolute 
  bottom 0
  right -115px

h1
  font-weight bold

a.dropdown-toggle
  border 0.5px solid #9da3a3
  padding 3px 8px

.dropdown-item
  color black

li.nav-item 
  padding 0 10px
  font-size 18px

a.nav-link
  color #676767 !important
  font-weight 500

.active 
  border-bottom 3px solid blue

.upload-avatar
  bottom 0
  padding 10px 0
  text-align center
  background-color rgba(0, 0, 0, 0.3)
  width 100%
  transition 0.3
  i 
    color #c0bfbf