.profile-header
  transform: translateY(5rem)

.profile-header input
  display none

.profile-header label
  cursor pointer

.btn-edit
  padding 5px 5px
  color white
  border 1px solid white
