<button (click)="setbg()">Set background color</button>
<p #el>menu works!</p>
<h2>Calendar details</h2>
<ul class="row">
  <li *ngFor="let event of events" class="col-sm-4">
    <span>id: {{event.id}}</span>
    <div><b>Title:</b> {{event.title}}</div>
    <button class="btn btn-danger" (click)="deleteEvent(event.eventId)">x</button>
    <button class="btn btn-primary" (click)="openFormEditEvent(event.eventId)">edit</button>
  </li>
</ul>
<h3>Add calendar</h3>
<form #form="ngForm" (ngSubmit)="addEvent(form.value)">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" placeholder="Enter title calendar" name="title" class="form-control col-6" id="title" required
      ngModel #title="ngModel" minlength="3" nameMacth>
    <div *ngIf="title?.touched">
      <span *ngIf="title?.errors?.nameMacth" class="text-danger">nameMacth!</span> <br>
      <span *ngIf="title?.errors?.required" class="text-danger">field not required!</span>
      <span *ngIf="title?.errors?.minlength" class="text-danger">minlength 5</span>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
</form>
<pre>title: {{title.value|json}}</pre>
<p [style.display]="'block'">
  Expression sets display to "block".
  This paragraph is visible.
</p>
<p [style.display]="'none'">
  Expression sets display to "none".
  This paragraph is hidden but still in the DOM.
</p>

