.banner
  height 400px
  background-size cover
  background-position center 
  background-attachment fixed
  color white
  position relative
  h1
    position absolute
    top 50%
    left 10%
    text-transform uppercase
    