.calendar
  border none 
  background none

.input-form
  border none 
  &:focus 
    box-shadow none
    
span.input-group-text
  border 1px solid #ccd4da
  background-color #e9ecef
  height 38px    
