.form-group 
  margin-bottom 0
  margin-top 8px

.start-time
  margin-bottom 5px

.container
  margin-bottom: 50px;

small 
  height 30px

.fc-content 
    cursor pointer

.container 
  padding-top 40px
