<div class="row justify-content-start">
  <div *ngFor="let member of members" class="member-list m-4" style="width: 32rem">
    <div class="d-flex h-100">
      <div class="member-avatar">
        <img [src]="member?.avatar" width="100%" height="100%" [alt]="member.name">
      </div>
      <div class="member-detail mx-2">
        <h5 routerLink="{{member.memberID}}" [class.captain]="member?.caption" class="card-title mt-2">
          {{member?.name}}
          <span *ngIf="member?.caption"><i class="fa fa-star text-warning"></i></span>
          <span *ngIf="member?.mentor"><i class="fa fa-user text-primary"></i></span>
        </h5>
        <p>Joined date: {{member?.joinedDate | date: dateFormat}}</p>
        <p>Email: {{member?.email}}</p>
        <p>Skype: {{member?.skype}}</p>
      </div>
    </div>
    <div *ngIf="memberRole.role === 'CAPTAIN' && !member.caption" ngbDropdown class="d-inline-block dropdown">
      <button class="toggle-button" ngbDropdownToggle><i class="fa fa-ellipsis-h member-menu"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="deleteMember(member.memberID, member)" ngbDropdownItem>Remove</button>
        <button (click)="removeMentor(member.memberID)" *ngIf="member?.mentor" ngbDropdownItem>Remove Mentor</button>
        <button (click)="setCaptain(member.memberID)" ngbDropdownItem>Set Captain</button>
        <button (click)="setMentor(member.memberID)" *ngIf="!member?.mentor" ngbDropdownItem>Set Mentor</button>
      </div>
    </div>
  </div>
</div>