.member-avatar
  //quancss
  flex-basis 35%

.member-detail
  flex-basis 65%
//quancss
.dropdown
  font-size 1.5rem
  position absolute
  top 5%
  right 5%

.dropdown-item
  cursor pointer

.dropdown-toggle::after
  display none

img
  transition all .3s

.captain
   color #FFD08A

.member-list
  //quancss
  position relative
  box-shadow 1px 1px 10px 1px gray

.toggle-button
   background-color transparent
   border none

h5
  cursor pointer
  &:hover
    color #7a7474
