ul
  list-style none

li 
  padding 0 10px

button 
  background none 
  border none

.btn.btn-dark.mx-3
    background-color #23272B

.btn.btn-success
    background-color #218838
    
.listCourse ul li 
  .course
    border 0.1px solid #949d9c
    height 150px
    font-size 13px
  i
    padding 0 3px
  a
    font-weight bold
    color #3677B7
    font-size 18px
    width 100%
    border-bottom 0.1px solid #949d9c
    padding 3px 0
    outline none
  a:hover
    color #74ade6
  .description
    border-top 0.1px solid #949d9c

.create-course button  
    background-color #0069D9
