<div class="container main-form">
  <nav ngbNav #nav="ngbNav" class="tablist">
    <ng-container ngbNavItem>
      <a class="tab-name" ngbNavLink>Existing Contents</a>
      <ng-template ngbNavContent>
        <div class="container list-approved-content">
          <div class="row content-detail" *ngFor="let content of contents">
            <div class="col-sm-4 left-content">
              <div class="top-left-content">
                <span>{{content.done}}</span>
              </div>
              <div class="row main-left-content">
                <div class="image col-sm-4">
                  <img src="../../../../assets/img/logo.png" alt="">
                </div>
                <div class="content col-sm-8">
                  <p>{{content.username}}</p>
                  <br>
                  <p>Start: <span>{{content.startDate}}</span></p>
                  <p>End: <span>{{content.endDate}}</span></p>
                  <p>Level: <span>{{content.level}}</span></p>
                </div>
              </div>
              <div class="bottom-left-content">
                <p>Take Attendance</p>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="row top-right-content">
                <h4 class="col-sm-10 content-title">
                  {{content.title}}
                </h4>
                <i class="fa fa-ellipsis-h"></i>
              </div>
              <hr class="col-sm-4">
              <span [innerHTML]="content.content">
              </span>
              <!-- <span *ngIf="viewAllActive">View All</span> -->
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a class="tab-name" ngbNavLink>Add New Content</a>
      <ng-template ngbNavContent>
        <div class="form">
          <div class="container form-detail">
            <div class="row">
              <div class="col-sm-6 group-form-input">
                <div class="d-flex align-items-center justify-content-xl-between form-add">
                  <input class="input-form pl-3" type="text" placeholder="Title" ngModel #title="ngModel" required
                    pattern="[\w,./_=?-]+" #title>
                  <i class="fa fa-pencil"></i>
                </div>
                <small *ngIf="title?.errors?.required && title?.touched" class="text-danger">This is a required
                  field</small>
                <small *ngIf="title?.errors?.pattern" class="text-danger">White space</small>
              </div>

              <div class="form-group col-sm-6 group-form-input level-opiions">
                <div class="d-flex align-items-center justify-content-xl-between form-add">
                  <select class="form-control" id="selectCourse" name="course" ngModel #level="ngModel" required #level>
                    <option value="" disabled selected>Level</option>
                    <option>Beginner</option>
                    <option>Intermedise</option>
                    <option>Expert</option>
                  </select>
                </div>
                <small *ngIf="level?.errors?.pattern && level?.touched" class="text-danger">This is a required
                  field</small>
              </div>

              <div class="col-sm-6 group-form-input">
                <div class="d-flex align-items-center justify-content-xl-between form-add">
                  <input class="input-form pl-3" type="text" name="startDate" ngbDatepicker #startDate="ngModel"
                    #startDatePicker="ngbDatepicker" placeholder="Start Date" ngModel readonly required #startDate>
                  <span class="input-group-text calendar" (click)="startDatePicker.toggle()"><i
                      class="fa fa-calendar"></i></span>
                </div>
                <small *ngIf="startDate?.errors?.required && startDate?.touched" class="text-danger">This is a required
                  field</small>
              </div>

              <div class="col-sm-6 group-form-input">
                <div class="d-flex align-items-center justify-content-xl-between form-add">
                  <input class="input-form pl-3" type="text" name="endDate" ngbDatepicker ngModel #endDate="ngModel"
                    #endDatePicker="ngbDatepicker" placeholder="End Date" readonly required #endDate>
                  <span class="input-group-text calendar" (click)="endDatePicker.toggle()"><i
                      class="fa fa-calendar"></i></span>
                </div>
                <small *ngIf="startDate?.errors?.required && startDate?.touched" class="text-danger">This is a required
                  field</small>
              </div>
            </div>
            <div class="col-sm-12">
              <editor [init]="{base_url: '/tinymce',
            suffix: '.min',
            plugins: 'lists advlist',
            toolbar: 'undo redo | bold italic | bullist numlist outdent indent'}" #description="ngModel" required
                #content tagName="content" [(ngModel)]="bindingContent">
              </editor>
              <small *ngIf="description?.errors?.required && description?.touched" class="text-danger">This is a
                required field</small>
            </div>
            <button type="button" class="btn btn-outline-secondary">Cancel</button>
            <button type="button" class="btn btn-primary"
              (click)="createNewContent(title.value, bindingContent, startDate.value, endDate.value, level.value, title.value = '')">Done</button>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
