<div class="banner" [ngStyle]="backgroundContent">
  <h4 class="text-center">List Attendance</h4>
</div>
<div class="modal-body atten-body">
  <form #attenForm="ngForm">
    <h4 class="text-center">Title</h4>
    <div class="row atten" *ngFor="let member of attendance">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 text-center">
            <img [src]="member.avatar" alt="image">
          </div>
          <div class="col-md-9">
            <h5 id="name">{{member.fullname}}</h5>
            <span>{{member.email}}</span>
            <label class="checkbox-inline">
              <input type="checkbox" [checked]="member.present" (change)="member.present = !member.present"
                disabled><strong class="pl-1">Present</strong>
            </label>
            <p><strong>Present Date: </strong>{{member.presentDate |date:'dd-MM-yyyy'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="note">
          <input type="text" name="note" value={{member.note}} class="text-center" disabled>
        </div>
      </div>
    </div>
  </form>
</div>