<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Course</h4>

  <button type="button" class="close" aria-label="Close" (click)="closeForm()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #form="ngForm" (ngSubmit)="editCourse(form.value)" novalidate>
    <div class="form-group">
      <label for="courseName">Your Course Name</label>
      <input type="text" class="form-control" id="courseName" name="name"
        ngModel #title="ngModel" maxlength="64" required [(ngModel)]="data.course.name">
    </div>
    <small *ngIf="title?.errors?.required && title?.touched" class="text-danger">This is a required
      field</small>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea [(ngModel)]="data.content" class="form-control" id="description" rows="5"  name="content"
        ngModel #description="ngModel" maxlength="500" required></textarea>
    </div>
    <small *ngIf="description?.errors?.required && description?.touched" class="text-danger">This is a required
      field</small>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mx-3" (click)="closeForm()"><i
          class="fa fa-times-circle mx-2"></i>Cancel</button>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid"><i
          class="fa fa-check mx-2"></i>Save</button>
    </div>
  </form>
</div>