@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
*
  margin 0
  padding 0
  box-sizing border-box

.btn-link
  color white
  font-weight bold

.btn-link:hover
  color black
  text-decoration none

.card-header.bg-success
  width 20rem
  background-color #28a745!important

.card-header.bg-primary
  width 20rem
  background-color #007bff!important

.btn-link
  font-size 1.2rem
  color #fff
  font-weight bold

button.btn.btn-primary.btn-create-group 
  padding 1rem
  font-weight bold
  font-size 1.3rem

.card
  border none

span.fc-title 
  color #f7f7f7

ul,ol
  list-style-position inside

.ThanhBK
  max-width 200px
  margin-left 6rem
  display none